@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-family: 'Lato', 'Arial', sans-serif;
}

::selection{
    background-color: azure;
}

/* Navbar Starts Here */

#navbar{
    height: 20vh;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 15px 30px;
}

#navbar .logo{
    height: 150px;
    width: 100%;
}

#navbar .logo img{
    height: 100%;
    width: 40%;
    float: right;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#navbar .list{
    width: 100%;
}

#navbar .list ul{
    margin-top: 30px;
}

#navbar .list ul li{
    display: inline;
    margin: 0 50px;
}

#navbar .list ul li a{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all .2s ease;
}

#navbar .list ul li a:hover{
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

/* Navbar Ends Here */

/* Main Section Starts Here */

#main{
    height: 100vh;
    width: 100%;
    text-align: center;
}

#main::after{
    content: "";
    background-image: url(../images/hero.jpg);
    opacity: .8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

}

#main .content{
    height: 100vh;
    width: 50%;
    margin: auto;
    padding-top: 18%;
}

#main .content p{
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
}

#main .content a{
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    transition: all .5s ease;
}

#main .content .first-btn{
    background-color: #000;
    color: #fff;
}

#main .content .first-btn:hover{
    background-color: #fff;
    color: #000;
}

#main .content .second-btn{
    background-color: #fff;
    color: #000;
}

#main .content .second-btn:hover{
    background-color: #000;
    color: #fff;
}

/* Main Section Ends Here */